// GLOBAL OFFSETS
$header_height: 56px;
$footer_height: 64px;
$body_buffer_height: $footer_height + $header_height;
$body_height: calc(100vh - #{$body_buffer_height});

$background-color: #F3F4F6;

// KEY BRANDING COLORS
$bc_dark_gray: #2c2c2c;
$bc_dusty_blue: #3b455e;
$bc_dusty_blue_reduced: #3b455ec7;
$bc_dusty_blue_half: #3b455e81;
$bc_dusty_blue_faint: #3b455e31;
$bc_deep_teal: #185c5a;
$bc_deep_teal_reduced: #185c5ac9;
$bc_deep_teal_half: #185c5a83;
$bc_deep_teal_faint: #185c5a34;
$bc_lime_green: #a6ad3d;
$bc_lime_green_reduced: #a5ad3dd0;
$bc_lime_green_half: #a5ad3d85;
$bc_lime_green_faint: #a5ad3d41;
$bc_yellow_pop: #f1b928;
$bc_yellow_pop_reduced: #f1b828c7;
$bc_yellow_pop_half: #f1b82877;
$bc_yellow_pop_faint: #f1b82838;

/* For use in src/lib/core/theming/_palette.scss */
$fellas-gray: (
  50: #e6e6e6,
  100: #c0c0c0,
  200: #969696,
  300: #6b6b6b,
  400: #4c4c4c,
  500: #2c2c2c,
  600: #272727,
  700: #212121,
  800: #1b1b1b,
  900: #101010,
  A100: #ee6969,
  A200: #e93b3b,
  A400: #f10000,
  A700: #d80000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$fellas-blue: (
  50: #e7e9ec,
  100: #c4c7cf,
  200: #9da2af,
  300: #767d8e,
  400: #586176,
  500: #3b455e,
  600: #353e56,
  700: #2d364c,
  800: #262e42,
  900: #191f31,
  A100: #7495ff,
  A200: #416fff,
  A400: #0e48ff,
  A700: #003af4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$fellas-teal: (
  50: #e3ebeb,
  100: #bacece,
  200: #8caead,
  300: #5d8d8c,
  400: #3b7473,
  500: #185c5a,
  600: #155452,
  700: #114a48,
  800: #0e413f,
  900: #08302e,
  A100: #6afff5,
  A200: #37fff2,
  A400: #04ffef,
  A700: #00eadb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$fellas-yellow: (
  50: #fdf7e5,
  100: #fbeabf,
  200: #f8dc94,
  300: #f5ce69,
  400: #f3c448,
  500: #f1b928,
  600: #efb224,
  700: #edaa1e,
  800: #eba218,
  900: #e7930f,
  A100: #ffffff,
  A200: #fff2e0,
  A400: #ffdcad,
  A700: #ffd293,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$fellas-lime: (
  50: #f4f5e8,
  100: #e4e6c5,
  200: #d3d69e,
  300: #c1c677,
  400: #b3b95a,
  500: #a6ad3d,
  600: #9ea637,
  700: #959c2f,
  800: #8b9327,
  900: #7b831a,
  A100: #f9ffbc,
  A200: #f5ff89,
  A400: #f0ff56,
  A700: #eeff3c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
