// GLOBAL OFFSETS
$header_height: 50px;
$footer_height: 50px;
$body_buffer_height: $footer_height + $header_height;
$body_height: calc(100vh - #{$body_buffer_height});

// KEY BRANDING COLORS
$bc_dark_gray: #2c2c2c;
$bc_dusty_blue: #3b455e;
$bc_dusty_blue_reduced: #3b455ec7;
$bc_dusty_blue_half: #3b455e81;
$bc_dusty_blue_faint: #3b455e31;
$bc_deep_teal: #185c5a;
$bc_deep_teal_reduced: #185c5ac9;
$bc_deep_teal_half: #185c5a83;
$bc_deep_teal_faint: #185c5a34;
$bc_lime_green: #a6ad3d;
$bc_lime_green_reduced: #a5ad3dd0;
$bc_lime_green_half: #a5ad3d85;
$bc_lime_green_faint: #a5ad3d41;
$bc_yellow_pop: #f1b928;
$bc_yellow_pop_reduced: #f1b828c7;
$bc_yellow_pop_half: #f1b82877;
$bc_yellow_pop_faint: #f1b82838;
