<main>
  <header>
    <img class="logo" src="assets/images/GT_Logo.png" alt="Guy Time Logo" />
  </header>
  <section>
    <section class="why-fellas">
      <h3>Why Fellas?</h3>
      <ul>
        <li>I want to make friends outside of work.</li>
        <li>New to town and want to meet new people.</li>
        <li>Recently divorced and want to find new friends.</li>
        <li>Find others who share your hobbies and/or interests.</li>
        <li>Expand your existing circle of friends.</li>
      </ul>
    </section>

    <!-- <section class="links">
      <a href="">Privacy Policy</a> | <a href="">What's Fellas?</a> | <a href="">What's Fellas?</a> |
        <a href="">Sign In</a> | <a href="">Register</a>
    </section> -->
    <!-- <mat-card>
      <mat-card-content>
        <h3>What's Fellas?</h3>
        <p>
          Fellas is an app that connects guys who want to expand their circle of
          friends or find new friends to hang out with.
        </p>
      </mat-card-content>
    </mat-card> -->
    <!-- <mat-card class="signin-card">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h3>Sign-In</h3>
          <mat-error *ngIf="wasWrongPasswordEntered()"
            >You entered the wrong password.</mat-error
          >
          <mat-error *ngIf="wasWrongEmailEntered()"
            >There is no account associated with that email.</mat-error
          >

          <mat-form-field class="full-width-input">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              required
            />
            <mat-error> Please provide a valid email address </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error> Please provide a valid password </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
        <p>
          If you don't already have an account, please
          <a [routerLink]="['/register']">register now</a>
        </p>
      </mat-card-content>
    </mat-card> -->
  </section>
  <footer>
    <a href="">Privacy Policy</a> | <a href="">What's Fellas?</a> |
    <a href="">What's Fellas?</a> | <a href="">Sign In</a> |
    <a href="">Register</a>
  </footer>
</main>
