<main>
  <header>
    <img class="logo" src="assets/images/GT_Logo.png" alt="Guy Time Logo" />
  </header>
  <section>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h3>Sign-In</h3>
          <mat-error *ngIf="wasWrongPasswordEntered()"
            >You entered the wrong password.</mat-error
          >
          <mat-error *ngIf="wasWrongEmailEntered()"
            >There is no account associated with that email.</mat-error
          >

          <mat-form-field class="full-width-input">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              required
            />
            <mat-error> Please provide a valid email address </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error> Please provide a valid password </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
        <p>
          If you don't already have an account, please
          <a [routerLink]="['/register']">register now</a>
        </p>
      </mat-card-content>
    </mat-card>
  </section>
  <footer>
    <div class="tnc">Privacy Policy</div>
  </footer>
</main>
