main {
  width: 100%;

  mat-card {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      'avatar name content'
      'avatar age content';
    width: 100%;
    height: 3.8rem;
    padding: 6px;
    .grid_cell_centered {
      justify-self: center;
      align-self: center;
    }
    .avatar {
      width: 45px;
      height: 45px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: avatar;
    }
    .name {
      grid-area: name;
      margin: 0;
      justify-self: center;
      align-self: flex-end;
    }
    .age {
      grid-area: age;
    }
    .content_wrapper {
      grid-area: content;
    }
  }
}
