main {
  width: 100%;

  mat-card {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 3.8rem;
    padding: 6px;

    p {
      min-width: 140px;
      margin: 0;
    }
    .grid_cell_centered {
      justify-self: center;
      align-self: center;
    }
    .name {
      grid-area: name;
      margin: 0;
      justify-self: center;
      align-self: flex-end;
    }
    .content_wrapper {
      grid-area: content;
    }
  }
}
