<main>
  <gtm-header
    title="Edit My Details"
    [options]="headerOptions"
    backLocation="/me"
  ></gtm-header>
  <form class="body">
    <article class="basics">
      <section class="avatar_input_group">
        <div
          mat-card-avatar
          [style.background-image]="'url(' + avatarUrl + ')'"
          alt="Profile Image"
          class="avatar"
        ></div>
        <input
          #avatarInput
          hidden="true"
          type="file"
          accept="image/*"
          (change)="onSelectAvatar($event)"
        />
        <button
          (click)="avatarInput.click()"
          class="avatar_button"
          mat-raised-button
          color="primary"
        >
          Pick Image
        </button>
      </section>
      <section class="summary">
        <div class="stats">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="name"
              class="name"
              type="text"
              value="Dave"
            />
          </mat-form-field>
          <div class="age_relationship">
            <mat-form-field class="age">
              <mat-label>Age</mat-label>
              <input matInput placeholder="age" type="number" value="38" />
            </mat-form-field>
            -
            <mat-form-field class="relationship">
              <mat-label>Relationship Status</mat-label>
              <mat-select matNativeControl>
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
                <mat-option value="Dating">Dating</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="interests">
          <mat-icon
            (click)="onInterestClicked('indoors')"
            [ngClass]="{ deselected_interest: !isInterestSelected('indoors') }"
            >home_work</mat-icon
          >
          <mat-icon
            (click)="onInterestClicked('outdoors')"
            [ngClass]="{ deselected_interest: !isInterestSelected('outdoors') }"
            >nature_people</mat-icon
          >
        </div>
      </section>
    </article>
    <mat-card class="bio">
      <mat-form-field class="bio_input">
        <mat-label>Bio</mat-label>
        <textarea
          cdkTextareaAutosize
          [(ngModel)]="bio"
          name="bioInput"
          matInput
          placeholder="Ex. I enjoy my rock climbing hobby, fishing, and video games. I've been wanting to start a garden."
        ></textarea>
      </mat-form-field>
    </mat-card>
  </form>
</main>
