<main>
  <gtm-header
    title="Edit My Details"
    [options]="headerOptions"
    backLocation="/me"
  ></gtm-header>
  <form class="body">
    <article class="basics">
      <section class="avatar_input_group">
        <img
          mat-card-avatar
          [src]="avatarUrl"
          alt="Profile Image"
          class="avatar"
        />
        <input
          #avatarInput
          hidden="true"
          type="file"
          accept="image/*"
          (change)="onSelectAvatar($event)"
        />
        <button
          (click)="avatarInput.click()"
          class="avatar_button"
          mat-raised-button
          color="primary"
        >
          Pick Image
        </button>
      </section>
      <section class="summary">
        <div class="stats">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="name"
              class="name"
              type="text"
              value="Dave"
            />
          </mat-form-field>
          <div class="age_relationship">
            <mat-form-field class="age">
              <mat-label>Age</mat-label>
              <input matInput placeholder="age" type="number" value="38" />
            </mat-form-field>
            -
            <mat-form-field class="relationship">
              <mat-label>Relationship Status</mat-label>
              <mat-select matNativeControl>
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
                <mat-option value="Dating">Dating</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="interests">
          <mat-icon
            [ngClass]="{ deselected_interest: !isInterestSelected('indoors') }"
            >home_work</mat-icon
          >
          <mat-icon
            [ngClass]="{ deselected_interest: !isInterestSelected('outdoors') }"
            >nature_people</mat-icon
          >
        </div>
      </section>
    </article>
    <mat-card class="bio">
      <mat-card-title>Bio</mat-card-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor
        id eu nisl nunc mi ipsum faucibus. Sapien et ligula ullamcorper
        malesuada proin. Habitant morbi tristique senectus et netus et
        malesuada. Tortor consequat id porta nibh venenatis cras. Tempus iaculis
        urna id volutpat lacus. Suspendisse ultrices gravida dictum fusce. Ipsum
        dolor sit amet consectetur adipiscing elit. Lectus vestibulum mattis
        ullamcorper velit sed ullamcorper. Mauris pharetra et ultrices neque
        ornare aenean euismod elementum. Adipiscing commodo elit at imperdiet
        dui accumsan sit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor
        id eu nisl nunc mi ipsum faucibus. Sapien et ligula ullamcorper
        malesuada proin. Habitant morbi tristique senectus et netus et
        malesuada. Tortor consequat id porta nibh venenatis cras. Tempus iaculis
        urna id volutpat lacus. Suspendisse ultrices gravida dictum fusce. Ipsum
        dolor sit amet consectetur adipiscing elit. Lectus vestibulum mattis
        ullamcorper velit sed ullamcorper. Mauris pharetra et ultrices neque
        ornare aenean euismod elementum. Adipiscing commodo elit at imperdiet
        dui accumsan sit amet.
      </p>
    </mat-card>
  </form>
</main>
