<main>
  <gtm-header
    title="Edit My Details"
    [options]="headerOptions"
    backLocation="/me"
  ></gtm-header>
  <form class="body">
    <article class="basics">
      <section class="avatar_input_group">
        <img
          mat-card-avatar
          [src]="avatarUrl"
          alt="Profile Image"
          class="avatar"
        />
        <input type="file" accept="image/*" (change)="onSelectAvatar($event)" />
      </section>
      <section class="summary">
        <div class="stats">
          <b class="name">Dave</b>
          <p class="age_relationship">38 - Single</p>
        </div>
        <div class="interests">
          <mat-icon>home_work</mat-icon>
          <mat-icon>nature_people</mat-icon>
        </div>
      </section>
    </article>
    <mat-card class="bio">
      <mat-card-title>Bio</mat-card-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor
        id eu nisl nunc mi ipsum faucibus. Sapien et ligula ullamcorper
        malesuada proin. Habitant morbi tristique senectus et netus et
        malesuada. Tortor consequat id porta nibh venenatis cras. Tempus iaculis
        urna id volutpat lacus. Suspendisse ultrices gravida dictum fusce. Ipsum
        dolor sit amet consectetur adipiscing elit. Lectus vestibulum mattis
        ullamcorper velit sed ullamcorper. Mauris pharetra et ultrices neque
        ornare aenean euismod elementum. Adipiscing commodo elit at imperdiet
        dui accumsan sit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor
        id eu nisl nunc mi ipsum faucibus. Sapien et ligula ullamcorper
        malesuada proin. Habitant morbi tristique senectus et netus et
        malesuada. Tortor consequat id porta nibh venenatis cras. Tempus iaculis
        urna id volutpat lacus. Suspendisse ultrices gravida dictum fusce. Ipsum
        dolor sit amet consectetur adipiscing elit. Lectus vestibulum mattis
        ullamcorper velit sed ullamcorper. Mauris pharetra et ultrices neque
        ornare aenean euismod elementum. Adipiscing commodo elit at imperdiet
        dui accumsan sit amet.
      </p>
    </mat-card>
  </form>
</main>
