@import 'src/app/styles/vars.scss';

main {
  .body {
    position: absolute;
    top: $header_height;
    height: calc(100vh - #{$body_buffer_height});
    display: grid;
    padding: 15px;

    .header {
      display: grid;
      grid-template-columns: 100px auto;

      .avatar {
        width: 90px;
        height: 90px;
        background-size: cover;
      }

      .summary {
        .stats {
          display: grid;
          justify-content: center;
        }

        .name {
          text-align: center;
          font-size: 1.68rem;
        }

        .age_relationship {
          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          color: rgb(65, 64, 64);
        }

        .interests {
          display: flex;
          justify-content: center;

          mat-icon {
            margin: 0 5px;
          }
        }
      }
    }

    .bio {
      overflow: scroll;

      margin-top: 10px;
    }
  }
}
