<main>
  <gtm-header title="About Me" [options]="headerOptions"></gtm-header>
  <section *ngIf="userInfo$.value.uid" class="body">
    <article class="header">
      <div
        mat-card-avatar
        [style.background-image]="'url(' + (avatarUrl$ | async) + ')'"
        alt="Profile Image"
        class="avatar"
      ></div>

      <section class="summary">
        <div class="stats">
          <b class="name">{{ (userInfo$ | async).fName }}</b>
          <p class="age_relationship">
            {{ (userInfo$ | async).age }} -
            {{
              relationshipStatusMap.get((userInfo$ | async).relationshipStatus)
                .displayName
            }}
          </p>
        </div>
        <gtm-activities-span
          [selectedActivities]="(userInfo$ | async).activityTypes"
        ></gtm-activities-span>
      </section>
    </article>
    <mat-card class="bio">
      <mat-card-title class="bio_title">Bio</mat-card-title>
      {{ (userInfo$ | async).bio }}
    </mat-card>
  </section>
</main>
