@import 'app/styles/vars.scss';

:host {
  overflow-y: scroll;
}

.profile-edit {
  width: 100vw;
  padding: 96px 16px 40px 16px;
  margin-bottom: 32px;

  .mat-step-header[aria-selected="true"] {
    background-color: red;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-left: 16px;
    }
  }

  .interests-chip-list {
    padding-top: 16px;
    width: 100%;

    button {
      padding: 0;
      border: none;

      mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }


  }

  .avatar-edit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;

    .avatar_button {
      margin-left: 16px;
    }
  }

  .names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .first_name {
      width: 45%;
    }

    .last_name {
      width: 45%;
    }
  }

  .profile-row {
    margin-bottom: 8px;
    width: 100%;
  }

  .age {
    width: 45%;
  }

  .relationship {
    width: 45%;
  }

  .icebreaker-question {
    width: 100%;
    margin-bottom: 8px;
  }

  .icebreaker-answer {
    width: 100%;
  }

  .profile-save {
    width: 100%;
    margin-top: 24px;
  }

}
