<main>
  <gtm-header title="Edit My Details" backLocation="/me"></gtm-header>
  <form *ngIf="form" [formGroup]="form" class="body">
    <article class="basics">
      <section class="avatar_input_group">
        <div
          mat-card-avatar
          [style.background-image]="'url(' + (avatarUrl$ | async) + ')'"
          alt="Profile Image"
          class="avatar"
        ></div>
        <input
          #avatarInput
          hidden="true"
          type="file"
          accept="image/*"
          (change)="onSelectAvatar($event)"
        />
        <button
          (click)="avatarInput.click()"
          class="avatar_button"
          mat-raised-button
          color="primary"
        >
          Pick Image
        </button>
      </section>
      <section class="summary">
        <div class="stats">
          <div class="names">
            <mat-form-field>
              <mat-label>first Name</mat-label>
              <input
                matInput
                placeholder="first name"
                class="first_name"
                type="text"
                formControlName="fName"
                (blur)="trimInput('fName')"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>last Name</mat-label>
              <input
                matInput
                placeholder="last name"
                class="last_name"
                type="text"
                formControlName="lName"
                (blur)="trimInput('lName')"
              />
            </mat-form-field>
          </div>
          <div class="age_relationship">
            <mat-form-field class="age">
              <mat-label>Age</mat-label>
              <input
                matInput
                placeholder="age"
                type="number"
                formControlName="age"
              />
            </mat-form-field>
            -
            <mat-form-field class="relationship">
              <mat-label>Relationship Status</mat-label>
              <mat-select formControlName="relationshipStatus">
                <mat-option
                  *ngFor="let relEntry of relationshipStatusMap | keyvalue"
                  [value]="relEntry.key"
                  >{{ relEntry.value.displayName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="interests">
          <div
            class="interest_icon_wrapper"
            *ngFor="let entry of activityTypeMap | keyvalue"
            (click)="onActivityTypeClicked(entry.key)"
          >
            <gtm-toggle-icon
              [deselected]="!isActivityTypeSelected(entry.key)"
              [iconName]="entry.value.iconName"
            ></gtm-toggle-icon>
          </div>
        </div>
      </section>
    </article>
    <mat-card class="bio">
      <mat-form-field class="bio_input">
        <mat-label>Bio</mat-label>
        <textarea
          cdkTextareaAutosize
          formControlName="bio"
          name="bioInput"
          matInput
          placeholder="Ex. I enjoy my rock climbing hobby, fishing, and video games. I've been wanting to start a garden."
        ></textarea>
      </mat-form-field>
    </mat-card>
  </form>
  <div class="save_button_wrapper">
    <button
      (click)="onSaveClicked()"
      class="save_button"
      mat-button
      color="primary"
    >
      Save
    </button>
  </div>
</main>
