<div>
  <form *ngIf="form" [formGroup]="form" class="profile-edit">
    <div class='avatar-edit-container'>
      <div class='avatarWrapper'>
        <gtm-avatar
          [fileName]='avatarFileName$ | async'
          [imageSize]='avatarSize'
          [avatarFileUrl]='avatarUrl$ | async'
        ></gtm-avatar>
      </div>
      <input
        #avatarInput
        hidden='true'
        type='file'
        accept='image/*'
        (change)='onSelectAvatar($event)'
      />
      <button
        (click)='avatarInput.click()'
        class='avatar_button'
        mat-raised-button
        color='primary'
      >
        Pick Image
      </button>
    </div>
    <div class='names'>
      <mat-form-field class='first_name'>
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder='First name'
          type='text'
          formControlName='fName'
          (blur)="trimInput('fName')"
        />
      </mat-form-field>
      <mat-form-field class='last_name'>
        <mat-label>Last name</mat-label>
        <input
          matInput
          placeholder='Last name'
          type='text'
          formControlName='lName'
          (blur)="trimInput('lName')"
        />
      </mat-form-field>

    </div>
<!--    <mat-form-field appearance='fill'>-->
<!--      <mat-label>Birthdate</mat-label>-->
<!--      <input matInput [matDatepicker]='picker'>-->
<!--      <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->
    <div class='profile-row'>
      <mat-form-field class='age'>
        <mat-label>Age</mat-label>
        <input
          matInput
          placeholder='age'
          type='number'
          formControlName='age'
        />
      </mat-form-field>
    </div>
    <div class='profile-row'>
      <mat-form-field class='relationship'>
        <mat-label>Relationship status</mat-label>
        <mat-select formControlName='relationshipStatus'>
          <mat-option
            *ngFor='let relEntry of relationshipStatusMap | keyvalue'
            [value]='relEntry.key'
          >{{ relEntry.value.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class='icebreaker-question'>
      <mat-label>Icebreaker question</mat-label>
      <mat-select formControlName='icebreakerQuestion'>
        <mat-option
          *ngFor='let questionEntry of icebreakerQuestionMap | keyvalue'
          [value]='questionEntry.key'
        >{{ questionEntry.value.displayName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class='icebreaker-answer'>
      <mat-label>Icebreaker answer</mat-label>
      <textarea
        cdkTextareaAutosize
        formControlName='bio'
        name='bioInput'
        matInput
        placeholder="Answer the question you selected above here."
        rows='3'
      ></textarea>
    </mat-form-field>
    <button
      (click)='onSaveClicked()'
      mat-button
      mat-raised-button
      class='profile-save'
      color='primary'
    >
      Save
    </button>
  </form>

</div>
