@import 'app/styles/vars.scss';

main {
  .body {
    height: $body_height;
    width: 100vw;
    display: grid;
    grid-template-rows: 145px auto;
    padding: 15px;

    .basics {
      display: grid;
      grid-template-columns: 100px calc(100vw - 140px);

      .avatar_input_group {
        .avatar {
          width: 90px;
          height: 90px;
          background-size: cover;
        }
        .avatar_button {
          width: 90px;
          padding: 0;
          text-align: center;
        }
      }

      .summary {
        .stats {
          display: flex;
          flex-direction: column;

          .names {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;

            .first_name,
            .last_name {
              font-weight: bold;
            }
          }
          .age_relationship {
            display: inline;
            .age {
              width: 30px;
            }
            .relationship {
              width: 100px;
            }
          }
        }
        .interests {
          display: flex;
          justify-content: center;

          .interest_icon_wrapper {
            margin: 0 5px;
          }
        }
      }
    }
    .bio {
      .bio_input {
        width: 100%;
        textarea {
          max-height: calc(100vh - #{$body_buffer_height} - 245px);
        }
      }
    }
  }
  .save_button_wrapper {
    width: 100vw;
    position: absolute;
    bottom: calc(#{$footer_height} + 10px);
    text-align: center;
  }
}
