@import 'app/styles/vars.scss';
main {
  position: fixed;
  bottom: 0;
  width: 100%;
  mat-button-toggle-group {
    height: $footer_height;
    display: flex;
    justify-content: space-evenly;
    mat-button-toggle {
      width: 33.3333%;
    }
  }
}
