@import 'src/app/styles/vars.scss';

main {
  display: grid;
  grid-template-rows: $header_height calc(100vh - #{$body_buffer_height}) $footer_height;
  grid-template-areas:
    'menu'
    'list'
    'navspace';

  mat-list {
    grid-area: list;
    overflow: scroll;
    mat-list-item {
      height: 5.2rem;
    }
  }
}
