<main>
  <p>This would be the default landing area with a filterable list of guys</p>

  <header>LIST OF GUYS</header>
  <section>
    <ul>
      <li><a [routerLink]="['abses3342']">GUY 1</a></li>
      <li><a [routerLink]="['ffsd3242']">guy 2</a></li>
      <li><a [routerLink]="['ffsd3242']">person</a></li>
      <li><a [routerLink]="['ffsd3242']">dude</a></li>
      <li><a [routerLink]="['ffsd3242']">monkey</a></li>
      <li><a [routerLink]="['ffsd3242']">rabbit</a></li>
    </ul>
  </section>

  <p>
    There would also be the profile icon in the corner leading where this link
    goes:
  </p>
  <a [routerLink]="['/me']">my profile</a>
</main>
