main {
  display: grid;
  grid-template-rows: 45px calc(100vh - 80px) 50px;
  //   grid-template-columns: 30px auto;
  grid-template-areas:
    'menu'
    'list'
    'navspace';
  //   .menu {
  //     grid-area: menu;
  //   }
  .top_bar {
    grid-area: menu;
    display: grid;
    grid-template-columns: 30px auto;
    background-color: lightgray;
    .page_title {
      justify-self: center;
      align-self: center;
    }
  }

  mat-list {
    grid-area: list;
    overflow: scroll;
    mat-list-item {
      height: 5.2rem;
      mat-card {
        display: grid;
        grid-template-columns: 15% 30% 55%;
        grid-template-rows: 40% 60%;
        grid-template-areas:
          'avatar name interests_label'
          'avatar age interests_icons';
        width: 100%;
        height: 3.8rem;
        padding: 6px;
        .grid_cell_centered {
          justify-self: center;
          align-self: center;
        }
        img {
          grid-area: avatar;
        }
        .name {
          grid-area: name;
          margin: 0;
          justify-self: center;
          align-self: flex-end;
        }
        .age {
          grid-area: age;
        }
        .interests_title {
          grid-area: interests_label;
          align-self: flex-end;
        }
        section {
          grid-area: interests_icons;
          align-self: center;
        }
        // mat-card-header {
        //     width: 100%;
        //     height: 100%;
        //     mat-card-subtitle {
        //       width: max-content;
        //       display: inline-flex;
        //       justify-content: space-evenly;
        //     }
        // }
      }
    }
  }
}
