<main>
  <mat-list>
    <mat-list-item *ngFor="let chat of chatGroupList$ | async">
      <mat-card
        [routerLink]="['/chat', chat.id]"
        [matBadge]="selectUnreadMessageCountByChatGroup$(chat.id) | async"
        [matBadgeHidden]="
          (selectUnreadMessageCountByChatGroup$(chat.id) | async) === 0
        "
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <gtm-chat-group [group]="chat"></gtm-chat-group>
      </mat-card>
    </mat-list-item>
  </mat-list>
</main>
