@import 'app/styles/vars.scss';

main {
  overflow: auto;
  .mat-list {
    height: $body_height;
    overflow: scroll;
    .mat-list-item {
      margin-bottom: 6px;
      height: 100px;
      width: 100vw;
      .mat-card {
        width: stretch;
        display: grid;
        grid-template-rows: 60px 20px;
        padding: 5px 8px;
        height: 90px;
      }
    }
  }
}
