@import 'app/styles/vars.scss';

.chat-list-container {
  overflow: auto;
  padding-top: 56px;
  .mat-list {
    height: $body_height;
    overflow: scroll;
    .mat-list-item {
      margin-bottom: 6px;
      height: 100px;
      width: 100vw;
      border-bottom: 1px map-get($fellas-gray, 100) solid;
    }
  }

  .new-chat-message {
    position: absolute;
    right: 16px;
    bottom: 88px;
  }
}
