@import 'app/styles/vars.scss';

main {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-areas: 'left right';
  margin: 8px;

  .avatar-wrapper {
    justify-self: center;
    align-self: top;
  }

  .mat-card {
    transition: background-color 3s ease-out;
  }

  .unread {
    background-color: #e283834f;
  }

  mat-card-content {
    margin-bottom: 0.7rem;
    white-space: pre-wrap;
  }

  mat-card-footer {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 4px;
  }
}

.owned_chat {
  grid-template-columns: auto 60px;
  mat-card {
    // background-color: rgb(214, 244, 253);
    // TODO: make this more like the branded turqoise
    color: white;
    background-color: #185c5a;
  }

  .avatar-wrapper {
    grid-area: right;
  }

  .message-body {
    grid-area: left;
  }
}
