@import 'app/styles/vars.scss';


.message-container {
  display: flex;
  flex-direction: row;
  margin: 16px;

  .avatar-wrapper {
    width: 56px;
    margin-right: 8px;
  }

  .mat-card {
    transition: background-color 3s ease-out;
    color: $bc_deep_teal;
  }

  .unread {
    background-color: $bc_yellow_pop_reduced;
  }

  .message-body {
    background-color: #FFFFFF;
    padding: 16px 16px;
    width: 100%;
    margin-right: 54px;
    border-radius: .75rem;
    border-top-left-radius: 0;

    p {
      margin-bottom: 0;
      white-space: pre-wrap;
    }
  }

}

.owned_chat {
  display: flex;
  flex-direction: row-reverse;

  .avatar-wrapper {
    display: none;
  }

  .message-body {
    margin-left: 33%;
    margin-right: 0;
    background-color: $bc_deep_teal;
    border-bottom-right-radius: 0;
    border-top-left-radius: .75rem;

    p {
      color: #FFFFFF;
    }
  }

  .mat-card {
    background-color: $bc_lime_green_faint;
    color: $bc_dusty_blue;
  }

}
