<main
  *ngIf="user$ | async as sender; else loading"
  [ngClass]="{ owned_chat: sender.uid === loggedInUid }"
>
  <div class="avatar-wrapper">
    <gtm-avatar
      [fileName]="avatarFileName()"
      [imageSize]="avatarSize"
    ></gtm-avatar>
  </div>

  <mat-card [ngClass]="{ unread: !wasMessageSeen() }" class="message-body">
    <mat-card-content>{{ chatMessage.content }}</mat-card-content>

    <mat-card-footer>
      <p class="date" *ngIf="chatMessage.createdAt">
        {{ chatMessage.createdAt.toDate() | timeElapsed }}
      </p>
      <p class="sender">{{ sender.fName }}</p>
    </mat-card-footer>
  </mat-card>
</main>
<ng-template #loading>Loading ...</ng-template>
