<div class='avatar-container'>
  <gtm-avatar *ngFor='let user of users$ | async; let indexOfelement=index;'
    [fileName]="avatarFileName$(user.uid) | async"
    imageSize="45x45"
    [class]='indexOfelement > 0 ? "additional-avatar": "first-avatar"'
  ></gtm-avatar>

</div>
<div class='info-container'>
  <div class='info-container-header'>
    <strong>{{ firstNames }}</strong>
    <span>
      {{ latestMessageCreatedAtString }}
    </span>
    <mat-icon>chevron_right</mat-icon>
  </div>
  <p *ngIf='!!group && !!group.latestMessage'
     class='latest-message'
  >
    {{group.latestMessage.content}}
  </p>
  <p class='latest-message' *ngIf="!!group && !group.latestMessage">
    <em>No messages yet in this group</em>
  </p>
</div>
<!--  <section class="people">-->
<!--    <div class="avatar-row">-->
<!--      <div class="avatar-wrapper" *ngFor="let user of users$ | async">-->
<!--        <div class="avatar-border">-->
<!--          <gtm-avatar-->
<!--            [fileName]="avatarFileName$(user.uid) | async"-->
<!--            imageSize="45x45"-->
<!--          ></gtm-avatar>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="names-wrapper">-->
<!--      <b class="first-names">-->
<!--        {{ firstNames }}-->
<!--      </b>-->
<!--    </div>-->
<!--  </section>-->

<!--  <p class="latest_message" *ngIf="!!group && !!group.latestMessage">-->
<!--    <b>{{ group.latestMessage.fName }} {{ group.latestMessage.lName }}:</b>-->
<!--    {{ group.latestMessage.content }}-->
<!--  </p>-->
<!--  <p class="latest_message" *ngIf="!!group && !group.latestMessage">-->
<!--    No messages yet in this group-->
<!--  </p>-->
