main {
  .user_names {
    font-size: 1em;
  }

  .latest_message {
    font-size: 0.75em;
    margin: 0;
  }
  b,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
