main {
  max-width: calc(100vw - 48px);

  .people {
    position: absolute;
    right: 0;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 66px;

    .avatar-row {
      position: absolute;
      right: 0;
      display: flex;
      overflow: scroll;
      max-width: 100%;
      height: 48px;
      padding-right: 22px;
    }

    .avatar-wrapper {
      width: 30px;
      display: flex;

      .avatar-border {
        width: 51px;
        height: 51px;
        border-radius: 50%;
        border: 3px solid white;
      }
    }

    .names-wrapper {
      position: absolute;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      text-align: right;
      overflow: scroll;

      .first-names {
        margin-right: 0.8em;
        margin-left: 0.8em;
        text-align: right;
        white-space: nowrap;
        font-size: 0.8em;
      }
    }
  }

  .latest_message {
    font-size: 0.75em;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 45px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
