<main *ngIf="selectedFella$ | async as selectedFella">
  <div class="branded_backdrop"></div>
  <section class="body">
    <article class="info">
      <gtm-avatar
        [fileName]="(avatarFileData$ | async)?.fileName"
        [imageHash]="(avatarFileData$ | async)?.imageUpdateRando"
        [imageSize]="avatarSize"
      ></gtm-avatar>

      <section class="summary">
        <div class="words">
          <b class="name"
            >{{ selectedFella.fName }} {{ selectedFella.lName }}</b
          >
          <p class="age_relationship">
            Age: {{ selectedFella.age }} -
            {{
              relationshipStatusMap.get(selectedFella.relationshipStatus)
                .displayName
            }}
          </p>
        </div>
        <gtm-activities-span
          [selectedActivities]="selectedFella.activityTypes"
        ></gtm-activities-span>
      </section>
    </article>
    <mat-card>{{ selectedFella.bio }}</mat-card>
  </section>
  <button
    class="browse_btn next_fella"
    color=""
    (click)="onCycleClicked()"
    mat-mini-fab
  >
    <mat-icon svgIcon="nextFella"></mat-icon>
  </button>

  <button
    class="browse_btn add_contact"
    color=""
    (click)="onConnectClicked()"
    mat-mini-fab
  >
    <mat-icon svgIcon="buttonHandshake"></mat-icon>
  </button>

  <!-- prolly right way -->
  <!-- <button
    class="browse_btn send_message"
    color=""
    (click)="onChatClicked()"
    mat-mini-fab
  >
    <mat-icon svgIcon="message"></mat-icon>
  </button> -->

  <!-- tempfix -->
  <mat-icon
    class="browse_btn send_message"
    (click)="onChatClicked()"
    svgIcon="message"
  ></mat-icon>
</main>
