<main *ngIf="selectedFella$ | async as selectedFella">
  <section class="body">
    <article class="info">
      <gtm-avatar
        [fileName]="(avatarFileData$ | async)?.fileName"
        [imageHash]="(avatarFileData$ | async)?.imageUpdateRando"
        [imageSize]="avatarSize"
      ></gtm-avatar>

      <section class="summary">
        <div class="words">
          <span class="name mat-headline"
            >{{ selectedFella.fName }} {{ selectedFella.lName }}</span
          >
          <span class="age_relationship mat-subheading-1">
            {{ selectedFella.age }} years old
          </span>
        </div>
        <mat-chip-list class='interests-container'>
          <mat-chip color='primary'>Gaming</mat-chip>
          <mat-chip color='accent'>Outdoors</mat-chip>
          <mat-chip>Community Service</mat-chip>
        </mat-chip-list>
      </section>
    </article>
    <mat-card>{{ selectedFella.bio }}</mat-card>
    <div class='action_buttons_container'>
      <button
        class='nav_button nav_button_left'
        color=''
        (click)='onChatClicked()'
        mat-mini-fab
      >
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <button
        class='nav_button nav_button_right'
        color=''
        (click)='onChatClicked()'
        mat-mini-fab
      >
        <mat-icon>arrow_forward_ios_new</mat-icon>
      </button>
      <button
        class='send_message'
        color='primary'
        (click)='onChatClicked()'
        mat-fab
      >
        <mat-icon>chat</mat-icon>
      </button>


    </div>
  </section>
<!--  <button-->
<!--    class="browse_btn next_fella"-->
<!--    color=""-->
<!--    (click)="onCycleClicked()"-->
<!--    mat-mini-fab-->
<!--  >-->
<!--    <mat-icon svgIcon="nextFella"></mat-icon>-->
<!--  </button>-->

<!--  <button-->
<!--    class="browse_btn add_contact"-->
<!--    color="primary"-->
<!--    (click)="onConnectClicked()"-->
<!--    mat-mini-fab-->
<!--  >-->
<!--    <mat-icon></mat-icon>-->
<!--  </button>-->

  <!-- prolly right way -->



</main>
