@import 'app/styles/vars.scss';

$button_indent_1: 20px;
$button_indent_2: 140px;
$button_height_1: 70px;
$button_height_2: 115px;

main {
  .body {
    display: grid;
    width: 100%;
    padding: 15px;
    height: $body_height;

    grid-template-rows: 100px auto;

    .info {
      display: grid;
      grid-template-columns: 100px auto;

      .summary {
        .words {
          display: grid;
          justify-content: center;

          .name {
            text-align: center;
            font-size: 1.45rem;
          }

          .age_relationship {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(65, 64, 64);
          }
        }
      }
    }
  }

  .browse_btn {
    position: absolute;
    // INOLIKEIT
    // border: 1px solid black;
  }

  .next_fella {
    bottom: $button_height_1;
    left: $button_indent_1;
  }

  .add_contact {
    bottom: $button_height_2;
    right: $button_indent_1;
  }

  // .send_message {
  //   bottom: $button_height_1;
  //   right: $button_indent_1;
  // }

  // tempfix
  .send_message {
    bottom: $button_height_1;
    right: $button_indent_1;
    height: 40px;
    width: 40px;
    border: none;
  }
}
