<main>
  <gtm-header title="Your Open Chats"></gtm-header>
  <mat-list>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="3"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>David</b>
        <p>David: Let's hang out at the Saturday Market</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card [routerLink]="['abc123']">
        <b>Jon Raymond, David Spinegal, Andrew Sissler, Jesse Jones</b>
        <p>Andrew: Actually, kangaroos are marsupials.</p>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card
        [routerLink]="['abc123']"
        matBadge="1"
        matBadgePosition="before"
        matBadgeSize="small"
      >
        <b>Jim Beam, Andy Rocket</b>
        <p>
          Jim: I don't know Andy it has been a while since I sat on a whoopee
          cushion. I'd like to give it some thought first.
        </p>
      </mat-card>
    </mat-list-item>
  </mat-list>
</main>
