@import 'app/styles/vars.scss';

main {
  height: 100vh;
  overflow: auto;

  .logo-wrapper {
    margin-top: 60px;
    width: 100vw;
    display: grid;
    justify-items: center;

    .logo {
      width: 100vw;
      fill: $bc_deep_teal;
    }
  }


  .actions-span {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .actions-form {
      width: 80vw;
      margin: 1rem;
      display: flex;
      flex-direction: column;

      .mat-form-field {
        width: 100%;
      }
    }

    .actions-wrapper {
      justify-self: center;
      width: 80vw;
      display: flex;
      flex-direction: column;

      .primary-action-btn {
        background-image: linear-gradient(140deg, $bc_deep_teal, $bc_dusty_blue);
        color: #ffffff;
        margin-bottom: 16px;
      }

      .primary-action-btn.mat-button-disabled {
        opacity: 50%;
      }

      .secondary-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span {
          color: map-get($fellas-gray, 600);
        }

        button {
          color: map-get($fellas-teal, 400);
        }
      }

      .login-help {
        text-decoration: underline;
        color: map-get($fellas-blue, A100);
      }

    }
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    button {
      color: map-get($fellas-gray, 200);
    }
  }
}
