@import 'app/styles/vars.scss';


.body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 96px 16px 0px 16px;


  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .summary {
      padding-top: 16px;
      width: 100%;

      .words {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
          text-align: center;
        }

        .age_relationship {
          text-align: center;
        }
      }

      .interests-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }

  mat-card {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .icebreaker-question {
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
}
