main {
  display: grid;
  grid-template-rows: 45px calc(100vh - 95px) 50px;
  grid-template-areas:
    'menu'
    'body'
    'navspace';

  .body {
    grid-area: body;
    margin: 10px;
    display: grid;
    grid-template-rows: 95px auto;
    grid-template-columns: auto;

    .header {
      display: grid;
      grid-template-columns: 100px auto;

      .avatar {
        width: 90px;
        height: 90px;
      }

      .summary {
        .stats {
          display: grid;
          justify-content: center;
        }

        .name {
          text-align: center;
          font-size: 1.68rem;
        }

        .age_relationship {
          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          color: rgb(65, 64, 64);
        }

        .interests {
          display: flex;
          justify-content: center;

          mat-icon {
            margin: 0 5px;
          }
        }
      }
    }

    .bio {
      overflow: scroll;

      margin-bottom: 10px;
    }
  }
}
