<main>
  <section class="body" *ngIf="userInfo">
    <article class="header">
      <gtm-avatar class="avatar"
        [fileName]="avatarFileName()"
        [imageHash]="avatarFileHash()"
        [imageSize]="avatarSize"
      ></gtm-avatar>

      <section class="summary">
        <div class="stats">
          <b class="name">{{ userInfo.fName }} {{ userInfo.lName }}</b>
          <p class="age_relationship">
            {{ userInfo.age }} -
            {{
              relationshipStatusMap.get(userInfo.relationshipStatus).displayName
            }}
          </p>
        </div>

        <gtm-activities-span
          [selectedActivities]="userInfo.activityTypes"
        ></gtm-activities-span>
      </section>
    </article>

    <mat-card class="bio">
      {{ userInfo.bio }}
    </mat-card>
  </section>
</main>
