@import 'app/styles/vars.scss';

main {
  .body {
    position: absolute;
    height: $body_height;
    width: 100%;
    display: grid;
    padding: 15px;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .avatar {
        padding: 10px 0;
      }

      .summary {
        .stats {
          display: grid;
          justify-content: center;

        }

        .name {
          text-align: center;
          font-size: 1.68rem;
          padding: 10px 0;
        }

        .age_relationship {
          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          color: rgb(65, 64, 64);
        }
      }
    }

    .bio {
      overflow: scroll;
      width: 100%;
      height: calc(100vh - #{$body_buffer_height} - 125px);
      margin-top: 10px;
      white-space: pre-wrap;
      .bio_title {
        margin-bottom: 5px;
      }
    }
  }
}
