<section class="body" *ngIf="userInfo">
  <article class="info">
    <gtm-avatar
      [fileName]="avatarFileName()"
      [imageHash]="avatarFileHash()"
      [imageSize]="avatarSize"
    ></gtm-avatar>

    <section class='summary'>
      <div class='words'>
        <span class='name mat-headline'
        >{{ userInfo.fName }} {{ userInfo.lName }}</span
        >
        <span class='age_relationship mat-subheading-1'>
          {{ userInfo.age }} years old
        </span>
      </div>
      <mat-chip-list class='interests-container'>
        <mat-chip *ngFor='let tag of tags'>
          {{tag.name}}
        </mat-chip>
      </mat-chip-list>
      <mat-card *ngIf='icebreaker && icebreakerAnswer'>
        <span
          class='mat-h3 icebreaker-question'
          *ngIf='icebreaker'
        >
          {{icebreaker.text}}
        </span>
        <p
          *ngIf='icebreakerAnswer'
        >
          {{ icebreakerAnswer.text }}
        </p>
      </mat-card>
    </section>
  </article>
</section>
