@use '~@angular/material' as mat;
@import 'app/styles/vars.scss';

#toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  background-color: $bc_deep_teal;
  @include mat.elevation(2);
  height: $header_height;

  .topnav-brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
