@import 'app/styles/vars.scss';

main {
  display: grid;
  grid-template-columns: 30px auto 30px;
  border: 3px solid $bc_dusty_blue_reduced;
  color: $bc_dusty_blue;
  position: fixed;
  width: 100vw;
  z-index: 10000;
  height: $header-height;
  align-content: center;

  .page_title {
    justify-self: center;
    align-self: center;
  }
  .menu_button {
    padding-right: 10px;
  }
}
