@import 'app/styles/vars.scss';

main {
  display: grid;
  grid-template-columns: 30px auto 30px;
  background-color: lightgray;
  position: fixed;
  width: 100vw;
  z-index: 10000;
  height: $header-height;
  .page_title {
    justify-self: center;
    align-self: center;
  }
  .menu_button {
    padding-right: 10px;
  }
}
