<main *ngIf="(options$ | async) && (headerText$ | async)">
  <div *ngIf="!shouldShowBack$.value" id="btn-placeholder"></div>
  <button
    *ngIf="shouldShowBack$.value"
    (click)="onBackClicked()"
    class="back_button"
    mat-icon-button
    aria-label="Back Button"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <b class="page_title">{{ headerText$ | async }}</b>

  <div class="menu">
    <button
      class="menu_button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Filter Menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="header_menu" #menu="matMenu">
      <button
        class="header_menu_button"
        *ngFor="let option of options$ | async | keyvalue"
        mat-menu-item
        [disabled]="option.value.isDisabled"
        (click)="option.value.onClick()"
      >
        <mat-icon class="header_menu_icon">{{
          option.value.iconName
        }}</mat-icon>
        <span>{{ option.value.optionText }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
      <button *ngIf="promptEvent" mat-menu-item (click)="installPwa()">
        Install PWA
      </button>
    </mat-menu>
  </div>
</main>
