@import 'app/styles/vars.scss';
main {
  position: fixed;
  bottom: 0;
  width: 100%;

  .mat-tab-nav-bar {
    height: $footer_height;

    .mat-tab-link {
      width: calc(100vw / 3);
    }

    .mat-icon {
      height: 2em;
      width: 3em;
      color: $bc-dusty_blue;
    }

    .browse-icon {
      height: 3em;
    }
  }
}
