<main>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      (click)="onNavClicked('guys')"
      [active]="currentSelection === 'guys'"
      ><mat-icon class="browse-icon" svgIcon="profile"></mat-icon
    ></a>
    <a
      mat-tab-link
      (click)="onNavClicked('me')"
      [active]="currentSelection === 'me'"
      ><mat-icon svgIcon="messaging"></mat-icon
    ></a>
    <a
      mat-tab-link
      (click)="onNavClicked('chat')"
      [active]="currentSelection === 'chat'"
      ><mat-icon svgIcon="settings"></mat-icon
    ></a>
  </nav>
</main>
