@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
//font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
//font-family: 'Zilla Slab', serif;

/* For use in src/lib/core/theming/_palette.scss */
$fellas-gray: (
  50: #e6e6e6,
  100: #c0c0c0,
  200: #969696,
  300: #6b6b6b,
  400: #4c4c4c,
  500: #2c2c2c,
  600: #272727,
  700: #212121,
  800: #1b1b1b,
  900: #101010,
  A100: #ee6969,
  A200: #e93b3b,
  A400: #f10000,
  A700: #d80000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$fellas-blue: (
  50: #e7e9ec,
  100: #c4c7cf,
  200: #9da2af,
  300: #767d8e,
  400: #586176,
  500: #3b455e,
  600: #353e56,
  700: #2d364c,
  800: #262e42,
  900: #191f31,
  A100: #7495ff,
  A200: #416fff,
  A400: #0e48ff,
  A700: #003af4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$fellas-teal: (
  50: #e3ebeb,
  100: #bacece,
  200: #8caead,
  300: #5d8d8c,
  400: #3b7473,
  500: #185c5a,
  600: #155452,
  700: #114a48,
  800: #0e413f,
  900: #08302e,
  A100: #6afff5,
  A200: #37fff2,
  A400: #04ffef,
  A700: #00eadb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$fellas-yellow: (
  50: #fdf7e5,
  100: #fbeabf,
  200: #f8dc94,
  300: #f5ce69,
  400: #f3c448,
  500: #f1b928,
  600: #efb224,
  700: #edaa1e,
  800: #eba218,
  900: #e7930f,
  A100: #ffffff,
  A200: #fff2e0,
  A400: #ffdcad,
  A700: #ffd293,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$fellas-lime: (
  50: #f4f5e8,
  100: #e4e6c5,
  200: #d3d69e,
  300: #c1c677,
  400: #b3b95a,
  500: #a6ad3d,
  600: #9ea637,
  700: #959c2f,
  800: #8b9327,
  900: #7b831a,
  A100: #f9ffbc,
  A200: #f5ff89,
  A400: #f0ff56,
  A700: #eeff3c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$fellas-primary: mat-palette($fellas-teal);
$fellas-accent: mat-palette($fellas-yellow, 500, A100, A400);
$fellas-warn: mat-palette($fellas-lime);

$fellas-theme: mat-light-theme(
  (
    color: (
      primary: $fellas-primary,
      accent: $fellas-accent,
      warn: $fellas-warn,
    ),
  )
);

// 👇 3. Define a custom heading typography config
$heading-font-family: "'Poppins', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);
