<main>
  <section class="chat_list" #chatList>
    <article
      class="chat_box"
      [ngClass]="{ owned_chat: chat.sender === 'Andy' }"
      *ngFor="let chat of chats"
    >
      <img
        *ngIf="chat.sender !== 'Andy'"
        class="avatar"
        mat-card-avatar
        [src]="chat.avatar"
        alt=""
      />
      <mat-card>
        <mat-card-content>{{ chat.text }}</mat-card-content>
        <mat-card-footer>
          <p class="date">{{ chat.timestamp | date: 'short' }}</p>
          <p class="sender">{{ chat.sender }}</p>
        </mat-card-footer>
      </mat-card>
      <img
        *ngIf="chat.sender === 'Andy'"
        class="avatar"
        mat-card-avatar
        [src]="chat.avatar"
        alt=""
      />
    </article>
  </section>
  <section class="chat_input_wrapper">
    <form action="submit">
      <textarea
        placeholder="Say something..."
        class="chat_input"
        name="msgInput"
        [(ngModel)]="msgInput"
        [ngClass]="{ chat_input_has_text: msgInput.length > 0 }"
      ></textarea>
    </form>
    <button
      *ngIf="msgInput.length > 0"
      aria-label="Send Message"
      mat-icon-button
      class="send_button"
      (click)="sendMessage()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </section>
</main>
