@import 'app/styles/vars.scss';

main {
  .chat_list {
    overflow-y: scroll;
    height: calc(#{$body_height} - 50px);
  }
  .chat_input_wrapper {
    width: 100%;
    position: fixed;
    bottom: 50px;
    // background-color: lightblue;
    height: 50px;
    z-index: 1000;
    .chat_input {
      position: absolute;
      bottom: 10px;
      border-radius: 10px;
      border: none;
      margin: 0 5px;
      width: stretch;
      border: 2.5px solid #3b455e;
      // TODO: Try this with box shadow
      font-size: large;
    }
    .chat_input_has_text {
      height: 100px;
    }

    .send_button {
      position: absolute;
      right: 5px;
    }
  }
}
