<main>
  <section class="chat_list" #chatList>
    <gtm-chat-message
      *ngFor="let message of messages$ | async; trackBy: trackMessageBy"
      [chatMessage]="message"
    >
    </gtm-chat-message>
  </section>
  <section class="chat_input_wrapper">
    <form action="submit">
      <textarea
        placeholder="Say something..."
        class="chat_input"
        name="msgInput"
        [(ngModel)]="msgInput"
        [ngClass]="{ chat_input_has_text: msgInput.length > 0 }"
      ></textarea>
    </form>
    <button
      *ngIf="msgInput.length > 0"
      aria-label="Send Message"
      mat-icon-button
      class="send_button"
      (click)="onSendMessage()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </section>
</main>
