<mat-toolbar id='chat-detail-toolbar'>
  <button
    (click)='onBackClicked()'
    class='back_button'
    mat-icon-button
    aria-label='Back Button'
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class='avatar-container' *ngFor='let user of users$ | async; let indexOfelement=index;'>
    <gtm-avatar *ngIf='indexOfelement === 0'
                [fileName]='avatarFileName$(user.uid) | async'
                imageSize='45x45'
    ></gtm-avatar>

  </div>
  <span class='page_title'>{{ this.firstNames }}</span>

</mat-toolbar>
<section class="chat_list" #chatList>
  <gtm-chat-message
    *ngFor="let message of messages$ | async; trackBy: trackMessageBy"
    [chatMessage]="message"
  >
  </gtm-chat-message>
</section>
<section class="chat_input_wrapper">
  <form action="submit">
    <textarea
      #chatInput
      class='chat_input mat-body'
      name='msgInput'
      (input)='onTextareaChange()'
      placeholder='Say something...'
      [(ngModel)]='msgInput'
      [ngClass]='{ chat_input_has_text: msgInput.length > 0 }'
    ></textarea>
  </form>
  <button
    aria-label="Send Message"
    mat-mini-fab
    color='primary'
    class="send_button"
    (click)="onSendMessage()"
  >
    <mat-icon>send</mat-icon>
  </button>
</section>
